.product {
  padding: 10px 10px 20px;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
  margin-block-end: 20px;
  text-align: center;
  &__img {
    margin-block-end: 20px;
  }
  &__rating {
    align-items: center;
    justify-content: center;
  }
}
.no-results {
  font-size: 20px;
  color: var(--secondary-color);
  text-align: center;
  margin: 50px;
  font-weight: bold;
}
.load-more {
  width: 150px;
  font-size: 16px;
  color: #fff;
  background: var(--primary-color);
  margin: 30px auto;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}
