button {
  font-size: 13px;
  line-height: 1.54;
  height: 40px;
  padding-inline: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  &--sm {
    min-width: 212px;
  }
  &--lg {
    min-width: 418px;
  }
  &--pink {
    color: #fff;
    background-color: #e84f89;
  }
  &--transparent {
    color: #3e8cb9;
    background-color: transparent;
  }
  &--outline {
    color: #777;
    background-color: #fff;
    border-color: #333;
  }
  & + .btn {
    margin-top: 8px;
  }
}
